body{
    background-color: #e5e5e5;
    font-family: "Roboto",sans-serif;
    overflow-x: scroll;
}

body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */ 
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.topo{
    width:100%;
    height: 92px;
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgb(0 , 0 , 0 , 0.25);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index : 10;
}

.logo{
    color: #fff;
    width: 246px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    margin-left: 21px;
}

.logo span{
    font-size: 44px;
    font-family: 'Righteous', cursive;
}

.menu{
    width: calc(100% - 38px);
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 29px;
}

.menu > p{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    margin-bottom: 17px;
}

#primeiro-menu{
    margin-top: 123px;
}

#ultimo-menu{
    margin-bottom: 108px;
}

.lista-itens{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll; /* tive que add essa linha pro scroll */
}

/* Escondendo a barra de rolagem, mas deixando funcional */

.lista-itens::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */ 
}

.lista-itens {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* --------------------- */

.itens{
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-right: 16px;
    padding: 0px 14px  ;
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px rgb(0 , 0 , 0 , 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.itens img{
   width: 144px;
   height: 87px;
   border-radius: 4px;
}

.dados-itens{
    width: 144px;
    height: 84px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.alimento-nome, .alimento-preco{
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}

.alimento-descricao{
    color: #a6a6a6;
    font-size: 15px;
}


.base{
    width: 100%;
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    box-shadow: 0px 4px 4px rgb(0 , 0 , 0 , 0.25);
}

.base-menu{
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.fake-hover{
    cursor: pointer;
}

.fake-hover:hover{
    background-color: #2ace25;
}

.finalizar-pedido{
    width: 377px;
    height: 353px;
    border-radius: 9px;
    background-color: #50D074;
    position: fixed;
    top: calc((100% - 353px)/2);
    right: calc((100% - 377px)/2);
    
}

.finalizar-pedido-pedir{
    width: 329px;
    height: 52px;
    margin: 247px auto 0 auto;
    border-radius: 100px;
    background-color: #fff;
}

.checkmark{
    color: #32b72f;
    font-size: 23px;
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.esconder{
    display: none;
}

.item-selecionado{
    border: 4px solid #32b72f;
}

/* cores */
.cor-verde{
    background-color: #32b72f;
}