body{
    background-color: #e5e5e5;
    font-family: "Roboto",sans-serif;
}

.topo{
    width:100%;
    height: 92px;
    background-color: #cf2b2b;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo{
    color: #fff;
    width: 246px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    margin-left: 21px;
}

.logo span{
    font-size: 44px;
    font-family: 'Righteous', cursive;
}

.menu{
    width: calc(100% - 19px);
    margin-left: 19px;
    margin-bottom: 29px;
}

.menu > p{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    margin-bottom: 17px;
}

#primeiro-menu{
    margin-top: 123px;
}

#ultimo-menu{
    margin-bottom: 108px;
}

.lista-itens{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.itens{
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-right: 16px;
    background-color: #fff;
}

.itens img{
   width: 172px;
}

.base{
    width: 100%;
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.base-menu{
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-menu p{
    color:#fff;
    font-size: 20px;
    
}

/* Fontes 
.righteous{
    font-family: 'Righteous', cursive;
}
*/
